.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double #010201;
  min-height: 88vh;
  margin: 50px 40px 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(40, auto [col-start]);
  grid-template-rows: repeat(36, auto [row-start]);
  grid-column: 40;
  grid-row: 36;
  height: 504px;
  width: 560px;
  border: 2px solid #000;
}

.cell {
  height: 14px;
  width: 14px;
  /* border: 1px solid blue */
}
.cell.snake {
  background-color: #010201;
  border-radius: 8px;
}

.start-board {
  display: flex;
  justify-content: center;
  align-items: center;
    border: 2px double #010201;
    height: 504px;
    width: 560px;
}

.beginner-start {
  background: transparent;
  border: none;
  color: #010201;
  font-size: medium;
  cursor: pointer;
  outline: none;
}